[submodule "assets/scripts/gator"]
	path = assets/scripts/gator
	url = git@github.com:CrowdHailer/gator.git
[submodule "client/carbide"]
	path = client/carbide
	url = git@github.com:CrowdHailer/carbide.js.git
	branch = master
