<main class="width-limited">
  <p>
    Lob is a fun app to demonstrate some of the amazing realtime capabilities of the modern web.
    It is now possible for any webpage to communicate near instantaneously over websockets.
    Websocket communication makes possible a whole wealth of new applications.
  </p>
  <p>
    Ably is a service that makes handling these communication channels much easier.<br>
    <i>
      Ably lets you open up an unlimited number of real-time connections, without any extra burden on your servers. Whether you’ve got 2 or 2 million users, our servers will create persistent, bi-directional message streams to each of them.
    </i>
  </p>
  <p>
    Possible discussion of Workshop 14 as a development shop for progressive/ modern web apps.
  </p>
  <a href="/">home</a>
</main>
