<main class="width-limited">
  <p>
    Lob is powered by Ably.io and built by the team at Workshop14.io
    It is a fun demonstration of the amazing realtime capabilities of the modern web.
  </p>
  <p>
    It is now possible for any webpage to communicate near instantaneously using websockets.
    Websockets makes possible a whole host of new applications where instant data exchange makes amazing things happen.
    Every time you've ever thought a web page was lagging behind, real time now makes websites bang up to the minute, second, millisecond.
  </p>
  <p>
    Ably realtime means you can build truly awesome user experiences.
    For your users it means never having to press the 'refresh' button ever again.
  </p>
  <p>
    Start building in realtime today with Ably or ask the team at Workshop14.io to build it for you.
    Workshop14 builds realtime apps using Ably and we're experimenting all the time with this cutting edge technology.  Find out more here...
  </p>
  <hr>
  <p>
    Lob is a fun app to demonstrate some of the amazing realtime capabilities of the modern web.
    It is now possible for any webpage to communicate near instantaneously over websockets.
    Websocket communication makes possible a whole wealth of new applications.
  </p>
  <p>
    Ably is a service that makes handling these communication channels much easier.<br>
    <i>
      Ably lets you open up an unlimited number of real-time connections, without any extra burden on your servers. Whether you’ve got 2 or 2 million users, our servers will create persistent, bi-directional message streams to each of them.
    </i>
  </p>
  <p>
    Possible discussion of Workshop 14 as a development shop for progressive/ modern web apps.
  </p>
  <a href="/">home</a>
</main>
