<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lob</title>
</head>
<body>
  This page is flying
  <script>
  function deviceMotionHandler(deviceMotionEvent) {
    // Fix vector to handle the fact iOS and Windows define it backwards
    var vector;
    if (navigator.userAgent.match(/Windows/i)) {
      vector = {
        x: -1 * deviceMotionEvent.accelerationIncludingGravity.x,
        y: -1 * deviceMotionEvent.accelerationIncludingGravity.y,
        z: -1 * deviceMotionEvent.accelerationIncludingGravity.z
      };
    } else if (navigator.userAgent.match(/Android/i)) {
      vector = deviceMotionEvent.accelerationIncludingGravity;
    } else {
      vector = {
        x: -1 * deviceMotionEvent.accelerationIncludingGravity.x,
        y: -1 * deviceMotionEvent.accelerationIncludingGravity.y,
        z: -1 * deviceMotionEvent.accelerationIncludingGravity.z
      };
    }
    alert(vector)
  }
  alert(navigator.userAgent)
  if (window.DeviceMotionEvent) {
    window.addEventListener("devicemotion", deviceMotionHandler);
  }
  </script>
</body>
</html>
