<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Lob</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script lang="text/javascript" src="//cdn.ably.io/lib/ably.min.js" ></script>
  <script src="/lob.js"></script>
  <style media="screen">
    html, body {
      height: 100%;
      border: 0;
      margin: 0;
    }
    main: {
      height: 100%;
    }
    section {
      background-color: red;
      width: 100%;
      height: 50%;
    }
  </style>
</head>
<body>
  <main id="flyer">
    <section data-feature="flyer-page-1">
      <h1>Ready for Launch</h1>
      <button type="button" data-feature="flyer-start-button">Start</button>
    </section>
    <section data-feature="flyer-page-1">
      <h1>Throw now!</h1>
      <button type="button" data-feature="flyer-start-button">Stop: 20s</button>
    </section>
    <section data-feature="flyer-page-1">
      <h1>Flight Time 1.3s</h1>
      <button type="button" data-feature="flyer-start-button">Stop: 20s</button>
    </section>
    <section data-feature="flyer-page-1">
      <h1>Stats</h1>
      <button type="button" data-feature="flyer-start-button">Submit</button>
      <button type="button" data-feature="flyer-start-button">Reset</button>
    </section>
    <button type="button" id="start">Start</button>
    <button type="button" id="stop">Stop</button>
    <button type="button" id="refresh">Refresh</button>
  </main>
</body>
</html>
