<main class="width-limited" data-interface="avionics" data-display="data-logger">
  <p class="center" data-display="instruction">
    Lob phone to get started
  </p>
  <p>
    <span class="right">Flight time:</span><span class="left" data-hook="flight-time"></span>
  </p>
  <p>
    <span class="right">Max height:</span><span class="left" data-hook="max-altitude"></span>
  </p>
  <p class="readout" data-hook="current-reading">
    starting
  </p>
  <div id="uplink" class="unknown" data-display="uplink">
    <form id="starting-uplink" class="button" action="#" method="post">
      <button type="button" data-display="status">Looking for connection</button>
    </form>
    <form id="uplink-available" class="button" onclick="Lob.startTransmitting()">
      <button type="button">Click to share flight</button>
    </form>
    <form id="uplink-transmitting" class="button" action="#" method="post">
      <button type="button" >
        <a href="<%= twitter_link %>" target="_blank">Share on Twitter</a><span data-display="channel"> Watch on channel '????'</span></button>
    </form>
    <form id="uplink-failed" class="button">
      <button type="button">Could not start uplink. Try again later.</button>
    </form>
  </div>
  <form onclick="Lob.resetReadings()" class="button">
    <button type="button">Reset</button>
  </form>
  <div>
    <input type="text" name="username" value="" onkeyup="Lob.updateIdentity(this.value)" data-display="identity">
  </div>
  <a href="/">home</a>
</main>
<script type="text/javascript" src="/ua-parse.js"></script>
<script type="text/javascript">
  var lobIdentity = localStorage.getItem('lobIdentity');
  if (!lobIdentity) {
    var parser = new UAParser();
    var result = parser.getResult();
    lobIdentity = result.device.model || result.browser.name;
    localStorage.setItem('lobIdentity', lobIdentity);
  }
</script>
<script type="text/javascript" src="/flyer.js"></script>
