<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Lob</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

  <script src="http://localhost:8080/target/target-script-min.js#anonymous"></script>
  <script lang="text/javascript" src="//cdn.ably.io/lib/ably.min.js" ></script>
  <script src="/lob.js"></script>
  <link rel="stylesheet" href="/lob.css" media="screen" title="no title" charset="utf-8">
</head>
<body data-interface="avionics" data-display="data-logger">
  <main>
    <a href="/">
      <h1>Lob</h1>
    </a>
    <p>
      <span class="right">Time:</span><span class="left" data-hook="flight-time"></span>
    </p>
    <p>
      <span class="right">Height:</span><span class="left" data-hook="max-altitude"></span>
    </p>
    <footer>
      <form class="" action="index.html" method="post">
        <button type="button" data-command="start">Start</button>
        <button type="button" data-command="stop">Stop</button>
        <button type="button" data-command="reset">Reset</button>
      </form>
    </footer>
  </main>
</body>
</html>
