<main class="width-limited" data-interface="avionics" data-display="data-logger">
  <a class="clean" href="/">
    <h1>Lob</h1>
  </a>
  <p class="center" data-display="instruction">
    Lob phone to get started
  </p>
  <p>
    <span class="right">Flight time:</span><span class="left" data-hook="flight-time"></span>
  </p>
  <p>
    <span class="right">Max height:</span><span class="left" data-hook="max-altitude"></span>
  </p>
  <p class="readout" data-hook="current-reading">
    starting
  </p>
  <div id="uplink" class="unknown" data-display="uplink">
    <form id="starting-uplink" class="" action="#" method="post">
      <button type="button" data-display="status">Looking for connection</button>
    </form>
    <form id="uplink-available" onclick="Lob.startTransmitting()">
      <button type="button">Click to share flight</button>
    </form>
    <form id="uplink-transmitting" class="" action="#" method="post">
      <button type="button" >
        <a href="<%= twitter_link %>" target="_blank">Share on Twitter</a><span data-display="channel"> Watch on channel '????'</span></button>
    </form>
    <form id="uplink-failed">
      <button type="button">Could not start uplink. Try again later.</button>
    </form>
  </div>
  <form onclick="Lob.resetReadings()">
    <button type="button">Reset</button>
  </form>
  <!-- <form class="" action="/submit" method="post" data-command="submit">
    <input type="hidden" name="flight-time" value="0">
    <input type="hidden" name="max-altitude" value="0">
    <input type="text" name="name" autofocus required placeholder="Enter name">
    <button type="submit">Submit</button>
  </form> -->
</main>
<script type="text/javascript" src="/flyer.js"></script>
