<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Lob</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="/lob.js"></script>
</head>
<body>
  This page is flying
  <div id="orientation-generator">
    <button type="button" id="start">Start</button>
    <button type="button" id="stop">Stop</button>
    <button type="button" id="refresh">Refresh</button>
  </div>
</body>
</html>
