<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Lob</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script lang="text/javascript" src="//cdn.ably.io/lib/ably.min.js" ></script>
  <script src="/lob.js"></script>
  <link rel="stylesheet" href="/lob.css" media="screen" title="no title" charset="utf-8">
</head>
<body data-component="avionics-console">
  <main>
    <h1>Lob</h1>
    <p>
      <span class="right">Time:</span><span></span>
    </p>
    <p>
      <span class="right">Height:</span><span></span>
    </p>
  </main>
  <footer>
    <button type="button" data-hook="start">Start</button>
    <button type="button" data-hook="stop">Stop</button>
    <button type="button" data-hook="reset">Reset</button>
  </footer>
</body>
</html>
