<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lob</title>
</head>
<body>
  <form class="" action="/join" method="post">
    <label>

      <input type="text" name="channel" autofocus required placeholder="default"><br>
      <button type="submit" name="flyer" value="yes">Be the flyer</button><br>
      <button type="submit" name="tracker" value="yes">Be the tracker</button>
    </label>
  </form>
</body>
</html>
