<main class="width-limited">
  <a class="clean" href="/">
    <h1>Lob</h1>
  </a>
  <a href="">about</a>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <form class="" action="/new-flight" method="post">
    <button type="submit" name="button">Start Launch</button>
  </form>
  <form class="" action="/join" method="post">
    <label>

      <input type="text" name="channel-name" autofocus required placeholder="Enter channel">
      <button type="submit">Track Launch</button>
    </label>
  </form>
</main>
