<main class="width-limited">

  <p>Watch your phone take flight.</p>
  <ul><b>On Mobile?</b> Click 'start flight'. Then see how high you can throw your phone</ul>
  <ul><b>Want to watch?</b> Once a flight is started click share to get a channel name. On a second device enter that channel name below and click track flight. You will get a live feed of the acceleration data from your device.</ul>
  <form class="" action="/new-flight" method="post">
    <button type="submit" name="button">Start Flight</button>
  </form>
  <form class="" action="/join" method="post">
    <label>

      <input type="text" name="channel-name" autofocus required placeholder="Enter channel">
      <button type="submit">Track Flight</button>
    </label>
  </form>
  <a href="/about">about</a>
</main>
