<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">


  <title>Lob</title>


  <meta name="description" content="Challenge to throw a mobile to the greatest hight. Watch your efforts in realtime">
  <meta name="author" content="Workshop14Limited">
  <link rel="canonical" href="http://lob.workshop14.io/" />
  <link rel="shortcut icon" href="/favicon.ico?v=1" />


  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Lob it">
  <meta property="og:title" content="Challenge to throw phone the highest">
  <meta property="og:image" content="http://level.workshop14.io/images/level-share-image.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:description" content="Track the accleration of you phone in realtime. The challenge is to record the highest throw.">
  <meta property="og:url" content="http://level.workshop14.io/">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@crowdhailer" />
  <!-- most of the rest works from og -->

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="/lob.css" media="screen" title="no title" charset="utf-8">
  <script lang="text/javascript" src="//cdn.ably.io/lib/ably.min.js" ></script>
</head>
<body>
  <aside class="notices" onclick="Lob.closeAlert()" data-display="alert">
    <section>
      <h1>Ooops!</h1>
      <p data-display="message"></p>
      <p class="close">Click to close</p>
    </section>
    <div class="sheet"></div>
  </aside>
  <%= yield %>
  <footer>
    <p>Realtime connection powered by <a href="https://ably.io" target="_blank">Ably.io</a></p>
  </footer>
</body>
</html>
