<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Lob</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="/lob.css" media="screen" title="no title" charset="utf-8">
</head>
<body data-interface="avionics" data-display="data-logger">
  <main class="width-limited">
    <a class="clean" href="/">
      <h1>Legends</h1>
    </a>
    <ol>
    <% flights.each do |name, time, max_altitude| %>
      <li><%= name %>: <%= max_altitude %>m</li>
    <% end %>
    </ol>
  </main>
  <footer>
    <p>Realtime connection powered by <a href="https://ably.io" target="_blank">Ably.io</a></p>
  </footer>
</body>
</html>
