<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Lob</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="/lob.css" media="screen" title="no title" charset="utf-8">
</head>
<body data-interface="avionics" data-display="data-logger">
  <main class="width-limited">
    <a class="clean" href="/">
      <h1>Lob</h1>
    </a>
    <p>
      Thank you for your submission, <a href=\leaderboard>leaderboard</a>
    </p>
  </main>
</body>
</html>
