<main class="width-limited">
  <form>
    <button type="button" data-display="uplink-status-message">Connecting to Ably</button>
  </form>
  <form data-display="tracker-following-flight" onclick="Lob.followLive()">
    <button type="button">Watching live, click to lock</button>
  </form>
  <form data-display="tracker-holding-snapshot" onclick="Lob.followFlight()" style="display:none;">
    <button type="button">Showing snapshot, click to return to live feed</button>
  </form>
  <form data-display="tracker-following-live" onclick="Lob.followFlight()" style="display:none;">
    <button type="button">Locked to live tracking, click to allow pausing</button>
  </form>
  <div id="orientation-tracker" data-display="tracker">
    <canvas id="myChart" width="960" height="800"></canvas>
  </div>
</main>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/dima117/Chart.Scatter/master/Chart.Scatter.js"></script>
<script type="text/javascript" src="/tracker.js"></script>
<script type="text/javascript">
var data = [
  {
    label: 'My First dataset',
    strokeColor: '#F16220',
    pointColor: '#F16220',
    pointStrokeColor: '#fff',
    data: [
      { x: 1452442412335 + 19 * 10000, y: 65 },
      { x: 1452442412335 + 27 * 10000, y: 59 },
      { x: 1452442412335 + 28 * 10000, y: 69 },
      { x: 1452442412335 + 40 * 10000, y: 81 },
      { x: 1452442412335 + 48 * 10000, y: 56 }
    ]
  },
  {
    label: 'My Second dataset',
    strokeColor: '#007ACC',
    pointColor: '#007ACC',
    pointStrokeColor: '#fff',
    data: [
      { x: 1452442412335 + 19 * 10000, y: 75, r: 4 },
      { x: 1452442412335 + 27 * 10000, y: 69, r: 7 },
      { x: 1452442412335 + 28 * 10000, y: 70, r: 5 },
      { x: 1452442412335 + 40 * 10000, y: 31, r: 3 },
      { x: 1452442412335 + 48 * 10000, y: 76, r: 6 },
      { x: 1452442412335 + 52 * 10000, y: 23, r: 3 },
      { x: 1452442412335 + 24 * 10000, y: 32, r: 4 }
    ]
  }
];
var ctx = document.getElementById("myChart").getContext("2d");
myScatterChart = new Chart(ctx).Scatter(data, {
  scaleType: 'date',
  scaleDateFormat: "yyyy mmm d",
  scaleTimeFormat: "MM.ss",
});

setTimeout(function () {
  set = myScatterChart.datasets[0];
  console.log(set.length);
  set.setPointData(set.points.length, 1452442412335 + 20 * 10000, 55);
  myScatterChart.update()
}, 10000);
</script>
