<main id="tracker-page">
  <form>
    <button type="button" data-display="uplink-status-message">Connecting to Ably</button>
  </form>
  <form id="tracker-live" onclick="Lob.lockLiveTracking()">
    <button type="button">Watching live, click to lock</button>
  </form>
  <form id="tracker-snapshot" onclick="Lob.watchLiveTracking()">
    <button type="button">Showing snapshot, click to return to live feed</button>
  </form>
  <form id="tracker-locked-live" onclick="Lob.unlockLiveTracking()">
    <button type="button">Locked to live tracking, click to allow pausing</button>
  </form>
  <a href="/">
    <h1>Lob</h1>
  </a>
  <div id="orientation-tracker" data-display="tracker">
    <canvas id="myChart" width="960" height="800" style="background-color:#EEE"></canvas>
  </div>
  <p>Realtime connection powered by <a href="https://ably.io" target="_blank">Ably.io</a></p>
</main>
<script type="text/javascript" src="/tracker.js"></script>
