<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lob</title>
</head>
<body>
  This page is tracking <br>
  <div id="orientation-tracker">
    <canvas id="myChart" width="1200" height="800" style="background-color:#EEE"></canvas>
  </div>

  <script lang="text/javascript" src="//cdn.ably.io/lib/ably.min.js" > </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  <script src="/lob.js"></script>
</body>
</html>
