<main id="tracker-page">
  <label>lock live
    <input type="checkbox" onchange="console.log(event.target.checked)">
  </label>
  <label>paused
    <input type="checkbox" onchange="console.log(event.target.checked)">
  </label>
  <a href="/">
    <h1>Lob</h1>
  </a>
  <div id="orientation-tracker" data-display="tracker">
    <canvas id="myChart" width="960" height="800" style="background-color:#EEE"></canvas>
  </div>
  <p>Realtime connection powered by <a href="https://ably.io" target="_blank">Ably.io</a></p>
</main>
<script type="text/javascript" src="/tracker.js"></script>
