<main class="width-limited">
  <p>
    Lob is a fun labs project demonstration of the amazing realtime capabilities of the modern web. <br>
    The realtime messaging is powered by <a href="https://www.ably.io">Ably</a> and built jointly as a labs project by <a href="http://workshop14.io">Workshop14.io</a> and <a href="https://www.ably.io">Ably</a>.
  </p>

  <p>
    It is now possible for any webpage to communicate near instantaneously using websockets.
    Websockets makes possible a whole host of new applications where instant data exchange makes amazing things happen.
    Every time you've ever thought a web page was lagging behind, real time now makes websites bang up to the minute, second, millisecond.
  </p>

  <hr>

  <h2><a href="https://www.ably.io">Ably - simply better realtime messaging</a></h2>
  <p>
    Ably is a platform that makes it easy for you to add realtime messaging and streaming data to your applications.
    <br>
    <a href="https://www.ably.io">Find out more &raquo;</a>
  </p>

  <hr>

  <h2><a href="http://workshop14.io">Workshop14.io</a></h2>
  <p>
    Crafting professional software for fast and fresh web solutions.
    <br>
    <a href="http://workshop14.io">Find out more &raquo;</a>
  </p>
</main>
