<% content_for :body_class do %>small-header<% end %>

<% content_for :head do %>
  <link rel="stylesheet" href="/phone-model.css" media="screen" charset="utf-8">
  <script type="text/javascript" src="/vendor.js"></script>
  <script type="text/javascript" src="/flyer.js"></script>
<% end %>

<main class="flyer" data-interface="avionics" data-display="data-logger">
  <p data-display="instruction"></p>

  <div class="phone-reading-panels">
    <div class="guage-widget">
      <ul class="labels">
        <li>0%</li>
        <li>25%</li>
        <li>50%</li>
        <li>75%</li>
        <li>100%</li>
      </ul>
      <div class="guage">
        <div class="inner"></div>
      </div>
      <div class="needle"></div>
      <div class="caption">
        Lob momentum
      </div>
    </div>

    <div class="phone">
      <%= erb :_phone %>
    </div>
  </div>

  <p>
    <span class="title">Flight time:</span><span class="value" data-hook="flight-time"></span>
  </p>
  <p>
    <span class="title">Max height:</span><span class="value" data-hook="max-altitude"></span>
  </p>

  <div id="uplink" class="unknown" data-display="uplink">
    <form id="starting-uplink" class="panel" action="#" method="post">
      <button type="button" data-display="status">Looking for connection</button>
    </form>
    <form id="uplink-transmitting" class="panel" action="#" method="post">
      <span data-display="channel"></span>
    </form>
    <form id="uplink-failed" class="panel">
      <button type="button">Could not start uplink. Try again later.</button>
    </form>
  </div>
  <form class="panel" action="/submit-flight" method="post">
    <input type="hidden" name="max-altitude" data-display="submitted-max-altitude" value="0">
    <button type="submit" data-display="submit-flight" disabled>Submit flight to leaderboard</button>
  </form>
  <form class="panel">
    <button type="button" onclick="Lob.resetReadings()">Reset</button>
  </form>

</main>

