<main class="flyer width-limited" data-interface="avionics" data-display="data-logger">
  <p data-display="instruction">
    Lob phone to get started
  </p>
  <p>
    <span class="title">Flight time:</span><span class="value" data-hook="flight-time"></span>
  </p>
  <p>
    <span class="title">Max height:</span><span class="value" data-hook="max-altitude"></span>
  </p>
  <p class="readout" data-hook="current-reading">
    starting
  </p>
  <label style="    border: 1px solid;
    border-radius: 2px;
    background: #F5F7CB;
    padding: 0.1em 0.5em;
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
    display: block;">
    <span>

    Name:
    </span>
    <input type="text" name="username" autofocus value="" onkeyup="Lob.updateIdentity(this.value)" data-display="identity" required placeholder="Enter name">
  </label>
  <div id="uplink" class="unknown" data-display="uplink">
    <form id="starting-uplink" class="panel" action="#" method="post">
      <button type="button" data-display="status">Looking for connection</button>
    </form>
    <form id="uplink-transmitting" class="panel" action="#" method="post">
      <span data-display="channel"></span>
    </form>
    <form id="uplink-failed" class="panel">
      <button type="button">Could not start uplink. Try again later.</button>
    </form>
  </div>
  <form class="panel" action="/submit-flight" method="post">
    <input type="hidden" name="max-altitude" data-display="submitted-max-altitude" value="0">
    <input type="hidden" name="username" data-display="submitted-identity">
    <button type="submit" data-display="submit-flight" disabled>Submit flight to leaderboard</button>
  </form>
  <form class="panel">
    <button type="button" onclick="Lob.resetReadings()">Reset</button>
  </form>
  <%= erb :_phone %>
</main>

<link rel="stylesheet" href="/phone-model.css" media="screen" title="Phone styling" charset="utf-8">
<script type="text/javascript" src="/vendor.js"></script>
<script type="text/javascript" src="/flyer.js"></script>
