<main class="width-limited">

  <h2>How high can you throw? Use Lob to find out.</h2>
  <!-- and get onto the Lob leaderboard. -->
  <p><b>Ready?</b> Press 'start flight' and throw your phone into the air. Remember to catch it again.</p>
  <form class="button" action="/new-flight" method="post">
    <button type="submit" name="button">Start Flight</button>
  </form>
  <p><b>Want to watch?</b> Once a flight has started click 'share'. On a second device enter the channel given and click 'track flight'. This will show a live feed of the acceleration data from your device.</p>
  <form class="button" action="/track-flight" method="post">
    <label>

      <input type="text" name="channel-name" autofocus required placeholder="Enter channel">
      <button type="submit">Track Flight</button>
    </label>
  </form>
  <nav>
    <a class="button" href="/about">Home</a>
    <a class="button" href="/about">Leaderboard</a>
    <a class="button" href="/about">About</a>
  </nav>
  <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
  <svg class="icon icon-facebook"><use xlink:href="#icon-twitter"></use></svg>
</main>
