<main class="home width-limited">
  <div class="mobile-ready">
    <p><b>Ready?</b> Press 'start flight' and throw your phone into the air. Remember to catch it!</p>
    <form class="button" action="/new-flight" method="post">
      <button type="submit" name="button">Start Flight</button>
    </form>
  </div>

  <div class="mobile-not-ready">
    Looks like you're using a device that doesn't provide have an accelerometer. Try this site on a phone that supports <a href="http://caniuse.com/#feat=deviceorientation">orientation and movement</a>, or view someone else's lob below.
  </div>

  <h2>Watch a phone get lobbed in real time</h2>
  <p>All phones lobbed stream their throw in realtime to this site. Enter the unique Lob code shown on yours or a friend's phone to view their live stream.</p>
  <form class="button" action="/track-flight" method="post">
    <label>
      <input type="text" name="channel-name" required placeholder="Enter the lob code">
      <button type="submit">Watch live lob</button>
    </label>
  </form>

  <h2>Leaderboard</h2>
  <p>Throw your phone to the sky and have your name etched in our leaderboard forever</p>
  <a href="/leaderboard">View the leaderboard</a>
</main>

<script type="text/javascript">
(function() {
  var mobileSupported = document.documentElement.querySelector('.mobile-ready'),
      mobileNotSupported = document.documentElement.querySelector('.mobile-not-ready');

  if (window.DeviceOrientationEvent && window.DeviceMotionEvent) {
    window.addEventListener('devicemotion', function(event) {
      if (!isNaN(parseInt(event.acceleration.x))) {
        mobileNotSupported.style.display = 'none';
        mobileSupported.style.display = 'block';
      }
    }, false);
  }
}());
</script>
