<main class="width-limited">
  <a class="clean" href="/">
    <h1>Legends</h1>
  </a>
  <ol>
    <% flights.each do |name, time, max_altitude| %>
    <li><%= name %>: <%= max_altitude %>m</li>
    <% end %>
  </ol>
</main>
