<main class="width-limited">
  <a class="clean" href="/">
    <h1>Legends</h1>
  </a>
  <ol>
    <% leaderboard.each do |flight| %>
    <li><%= flight.username %>: <%= flight.max_altitude %>m</li>
    <% end %>
  </ol>
</main>
