<% content_for :body_class do %>small-header<% end %>

<% content_for :head do %>
  <link rel="stylesheet" href="/phone-model.css" media="screen" title="Phone styling" charset="utf-8">
  <script type="text/javascript" src="/vendor-chart.js"></script>
  <script type="text/javascript" src="/vendor.js"></script>
  <script type="text/javascript" src="/tracker.js"></script>
<% end %>

<main class="tracker">
  <div class="uplink-status-message">Connecting to Ably</div>

  <div class="graph-and-phone">
    <div id="tracker-wrapper">
      <div id="tracker-graph"><canvas></canvas></div>
      <p class="pause-button"><span class="icon pause"></span></p>
      <p class="play-button"><span class="icon play"></span></p>
    </div>
    <%= erb :_phone %>
  </div>

  <div class="connecting-loader">
    <%= erb :_loader %>
    <div class="back">
      <a href="/">&laquo; cancel</a>
    </div>
  </div>

  <div class="flight-history">
    <h3>Lob history</h3>
    <table>
      <tr>
        <th>Height</th>
        <th>Time airborne</th>
        <th>Lobbed at</th>
      </tr>
    </table>
  </div>
</main>
