<% content_for :body_class do %>small-header<% end %>

<% content_for :head do %>
  <link rel="stylesheet" href="/phone-model.css" media="screen" title="Phone styling" charset="utf-8">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  <script type="text/javascript" src="/vendor.js"></script>
  <script type="text/javascript" src="/tracker.js"></script>
<% end %>

<main class="tracker">
  <div data-display="uplink-status-message">Connecting to Ably</div>

  <div class="graph-and-phone" data-display="graph-and-phone">
    <div id="tracker-graph" data-display="tracker-graph">
      <canvas></canvas>
    </div>
    <%= erb :_phone %>
  </div>

  <div class="connecting-loader" data-display="connecting-loader">
    <%= erb :_loader %>
    <div class="back">
      <a href="/">&laquo; cancel</a>
    </div>
  </div>

  <div class="lock-unlock">
    <form class="panel" data-display="tracker-following-flight" onclick="Lob.followLive()">
      <button type="button">Watching live, click to lock</button>
    </form>
    <form class="panel" data-display="tracker-holding-snapshot" onclick="Lob.followFlight()" style="display:none;">
      <button type="button">Showing snapshot, click to return to live feed</button>
    </form>
    <form class="panel" data-display="tracker-following-live" onclick="Lob.followFlight()" style="display:none;">
      <button type="button">Locked to live tracking, click to allow pausing</button>
    </form>
  </div>
</main>
