@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,200);
/*
* Scut, a collection of Sass utilities
* to ease and improve our implementations of common style-code patterns.
* v1.3.0
* Docs at http://davidtheclark.github.io/scut
*/
.notices {
  position: fixed;
  width: 100%;
  height: 0;
  padding: 0 1em;
  overflow: hidden;
  transition: background-color 1s, height 0s 1s;
  background-color: rgba(255, 255, 255, 0); }
  .notices section {
    background-color: white;
    max-width: 720px;
    margin: 1em auto;
    border: 2px solid;
    border-radius: 4px;
    transform: translateY(-150%);
    transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s; }
  .notices p {
    max-width: 540px;
    margin: 0 auto;
    padding: 0.5em; }
    .notices p.close {
      text-align: right; }

.notices.active {
  height: 100%;
  transition: background-color 1s 0s, height 0s 0s;
  background-color: rgba(255, 255, 255, 0.5); }
  .notices.active section {
    transform: translateY(0%); }

#uplink.unknown #starting-uplink {
  display: block; }

#uplink.unknown #uplink-available {
  display: none; }

#uplink.unknown #uplink-transmitting {
  display: none; }

#uplink.unknown #uplink-failed {
  display: none; }

#uplink.available #starting-uplink {
  display: none; }

#uplink.available #uplink-available {
  display: block; }

#uplink.available #uplink-transmitting {
  display: none; }

#uplink.available #uplink-failed {
  display: none; }

#uplink.transmitting #starting-uplink {
  display: none; }

#uplink.transmitting #uplink-available {
  display: none; }

#uplink.transmitting #uplink-transmitting {
  display: block; }

#uplink.transmitting #uplink-failed {
  display: none; }

#uplink.failed #starting-uplink {
  display: none; }

#uplink.failed #uplink-available {
  display: none; }

#uplink.failed #uplink-transmitting {
  display: none; }

#uplink.failed #uplink-failed {
  display: block; }

header.width-limited {
  padding-top: 1em;
  position: relative;
  z-index: -1; }
  header.width-limited svg {
    overflow: visible; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  background: transparent;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  width: auto;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  button::-moz-focus-inner,
  input[type="button"]::-moz-focus-inner,
  input[type="submit"]::-moz-focus-inner,
  input[type="reset"]::-moz-focus-inner {
    padding: 0;
    border: 0; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  display: table;
  height: 100%;
  width: 100%; }

footer {
  display: table-row;
  height: 1px; }

html, body {
  margin: 0; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  background-color: #FFCC00;
  font-size: 1.2rem; }

h1 {
  font-size: 300%;
  text-align: center;
  font-weight: inherit;
  margin: 0; }

h2 {
  font-size: 120%;
  margin: 0;
  text-align: center; }

hr {
  border: 1px solid black; }

nav {
  padding-top: 1em;
  text-align: center; }

.nav-item {
  border: 2px solid;
  border-radius: 4px;
  padding: 0.1em 0.5em;
  background-image: linear-gradient(to top, #fc0, #FFE788);
  color: black;
  text-decoration: none;
  display: inline-block;
  margin: 0.5em; }
  .nav-item:focus, .nav-item:active {
    background-image: linear-gradient(to bottom, #fc0, #FFE788);
    text-decoration: underline; }

form.button {
  display: block;
  max-width: 560px;
  background-image: linear-gradient(to top, #fc0, #FFE788);
  font-size: 120%;
  text-align: center;
  margin: 1rem auto;
  border: 2px solid;
  border-radius: 4px; }
  form.button button {
    padding: 0.5em; }
    form.button button:focus, form.button button:active {
      text-decoration: underline; }

.center {
  text-align: center; }

.readout {
  text-align: center;
  font-family: monospace; }

.width-limited {
  max-width: 760px;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em; }

span.right {
  width: 50%;
  display: inline-block;
  padding-right: 0.4em;
  text-align: right; }

span.left {
  width: 50%;
  display: inline-block;
  padding-left: 0.4em;
  text-align: left; }

::-webkit-input-placeholder {
  color: #777; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #777; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #777; }

:-ms-input-placeholder {
  color: #777; }

input {
  font-size: 100%;
  width: 50%;
  margin-right: 0.4em;
  background-color: transparent;
  font-family: raleway; }

#tracker-graph {
  background-color: #EEE;
  border: 2px solid black; }

canvas {
  background-color: #EEE;
  width: 100%; }

main a.button {
  background-image: linear-gradient(to top, #fc0, #FFE788);
  font-size: 120%;
  text-align: center;
  border: 2px solid;
  display: block;
  padding: 0.5em;
  border-radius: 4px;
  margin: 1rem auto;
  max-width: 560px;
  text-decoration: none;
  color: black; }

footer {
  background-color: black;
  color: white; }
  footer a {
    font-weight: bold;
    color: #FC0; }

footer p {
  padding-left: 1em;
  padding-right: 1em;
  text-align: right; }

footer span {
  width: 22%; }

.icon {
  display: inline-block;
  width: 1em;
  height: 1em; }

/* ================================================================================
Example showing how to change the color/size of the icons:
.icon-name {
font-size: 32px; // works because "width" & "height" were set using em units
color: red; // works because "fill" was set to "currentColor"
}
================================================================================ */
.icon-twitter {
  width: 0.9287109375em; }

.icon-facebook {
  width: 0.5712890625em; }

