/*
* Scut, a collection of Sass utilities
* to ease and improve our implementations of common style-code patterns.
* v1.3.0
* Docs at http://davidtheclark.github.io/scut
*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  background: transparent;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  width: auto;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  button::-moz-focus-inner,
  input[type="button"]::-moz-focus-inner,
  input[type="submit"]::-moz-focus-inner,
  input[type="reset"]::-moz-focus-inner {
    padding: 0;
    border: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: normal;
  margin: 0; }

b {
  font-weight: normal; }

html, body {
  height: 100%;
  border: 0;
  margin: 0;
  background-color: #072D48; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0; }

main {
  min-height: 100%;
  margin-bottom: -5rem; }
  main:after {
    content: "";
    display: block; }

main:after,
footer {
  height: 5rem; }

footer {
  padding: 0.5rem;
  text-align: center; }

h1 {
  color: #B6BFC6;
  font-size: 400%;
  text-align: center;
  font-family: sans-serif;
  padding: 1rem 0; }

span {
  color: #B6BFC6;
  width: 50%;
  font-family: sans-serif;
  display: block; }
  span.right {
    text-align: right; }

button {
  font-family: sans-serif;
  color: #B6BFC6;
  font-size: 200%;
  border: 2px solid #B6BFC6;
  border-radius: 1rem;
  padding: 0.4rem 1rem; }

