header.width-limited {
  padding-top: 1em;
  position: relative;
  z-index: -1;
  svg {
    overflow: visible;
  }
}

main.width-limited {
  overflow: visible;

  form {
    background: #FFCC00;
  }
}
