/* Shared CSS components */

/* Panel that typically includes 0+ form elements and one button */

form.panel {
  display: block;
  font-size: 120%;
  width: 100%;
  text-align: center;
  margin: 1rem auto;
  border: none;

  input[type=text] {
    padding: 9px;
    border: none;
    border-bottom: solid 2px #D08200;
    transition: border 0.3s;
    margin: 10px;

    &:focus {
      border-bottom: solid 2px #000000;
      outline: none;
    }
  }

  button {
    border: 1px solid #D08200;
    position: relative;
    top: -2px;
    @include background(linear-gradient(to bottom, #fff200, #f0d000));
    border-radius: 28px;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    padding: 11px 20px 11px 20px;
    text-decoration: none;
    cursor: pointer;
  }

  button:hover {
    @include background(linear-gradient(to bottom, #f5e90e, #d4bb15));
    text-decoration: none;
  }

  button[disabled] {
    @include background(linear-gradient(to bottom, #bdbdbd, #999999));
    text-decoration: none;
    text-shadow: none;
    color: #333;
  }
}

a.button {
  @include background(linear-gradient(to top, #fc0, #FFE788));
  font-size: 120%;
  text-align: center;
  border: 2px solid;
  display: block;
  padding: 0.5em;
  border-radius: 4px;
  margin: 1rem auto;
  max-width: 560px;
  text-decoration: none;
  color: black;
}

/* CSS loader courtesy of http://codepen.io/martinvd/pen/vEQeWR */

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transform: perspective( 128px ) rotateX( 30deg );

  .inner {
    position: absolute;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    background-color: #860000;
    border-radius: 50%;
  }

  .inner.one {
    left: 0%;
    top: 0%;
    animation: loader-move-right 1s ease-out infinite;
  }

  .inner.two {
    right: 0%;
    top: 0%;
    animation: loader-move-down 1s ease-in-out infinite;
  }

  .inner.three {
    right: 0%;
    bottom: 0%;
    animation: loader-move-left 1s ease-in-out infinite;
  }

  .inner.four {
    left: 0%;
    bottom: 0%;
    animation: loader-move-up 1s ease-out infinite;
  }
}

@keyframes loader-move-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(32px);
  }
}

@keyframes loader-move-down {
  0% {
    transform: translateY();
  }
  100% {
    transform: translateY(32px);
  }
}

@keyframes loader-move-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-32px);
  }
}

@keyframes loader-move-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-32px);
  }
}
