/* Base element styling */

html, body {
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  background-color: #FFCC00;
  font-size: 1.2rem;
}

h1 {
  font-size: 300%;
  text-align: center;
  font-weight: inherit;
  margin: 0;
}

h2 {
  font-size: 120%;
  margin: 0;
  text-align: center;
}

hr {
  border: 1px solid black;
}

a {
  color: #B10000;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: #7D0000;
  }
}

input {
  margin-right: 0.4em;
  background-color: rgba(255,255,255,0.9);
  font-family: raleway;
  font-size: 100%;

  &:focus {
    background-color: rgba(255,255,255,1);
  }
  @include placeholder {
    color: $placeholder-color;
  }
}
