/* Global Lob CSS */

$max-width: 980px; /* Designed for up to tablet */
$tablet-width: 979px; /* Designed for up to tablet */
$mobile-width: 500px;

$placeholder-color: #999;

@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);

/* CSS resets
   Preferred behaviour */
@import "node_modules/scut/dist/scut";
@include scut-reset-border-box;
@include scut-reset-button;
@include scut-sticky-footer-fluid(body, footer);

/* Shortcuts for vendor prefixes */
@import "node_modules/bourbon/app/assets/stylesheets/bourbon";

/* Our CSS files */
@import "framework";
@import "components";
@import "layout";
@import "pages";
@import "notices";
