@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,200);

@import 'vendor/scut';
@import "./notices";
@import "./uplink";
@import "./header";

// RESETS
// Preferred behaviour
@include scut-reset-border-box;
@include scut-reset-button;
@include scut-sticky-footer-fluid(body, footer);
// @include scut-reset-semanticize;

a.clean {
  text-decoration: none;
  color: inherit;
}

p {
  // padding: 0 1em;
}
.center {
  text-align: center;
}
.readout {
  text-align: center;
  font-family: monospace;
}

// Structure

html, body {
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  background-color: #FFCC00;
  font-size: 1.2rem;
  // TODO make bigger on large screen
}

.width-limited {
  max-width: 760px;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}

footer {
  background-color: black;
  color: white;
  a {
    // text-decoration: none;
    font-weight: bold;
    // color: #266CB3;
    color: #FC0;
  }
}
footer p {
  padding-left: 1em;
  padding-right: 1em;
}

h1 {
  font-size: 300%;
  text-align: center;
  font-weight: inherit;
  margin: 0;
}
h2 {
  font-size: 120%;
  text-align: center;
  font-weight: inherit;
  color: #444;
  margin: 0;
}

span {
  width: 50%;
  display: inline-block;
  &.right {
    padding-right: 0.4em;
    text-align: right;
  }
  &.left {
    padding-left: 0.4em;
    text-align: left;
  }
}

form {
  border: 2px solid;
  display: block;
  padding: 0.5em;
  text-align: right;
  border-radius: 4px;
  margin: 1rem auto;
  max-width: 560px;
}

::-webkit-input-placeholder {
  color: #777;
}

:-moz-placeholder { /* Firefox 18- */
  color: #777;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #777;
}

:-ms-input-placeholder {
  color: #777;
}

input {
  font-size: 100%;
  width: 50%;
  margin-right: 0.4em;
  background-color: rgba(0,0,0,0);
  font-family: raleway;
}

canvas {
  background-color: #EEE;
  width: 100%;
  border: 2px solid black;
}
