/* Home page */

.home {
  /* Assume visitor does not have an accelerometer unless we detect one */
  .mobile-ready {
    display: none;
  }

  h2 {
    border-top: 1px dashed #CA920D;
    margin-top: 1.5em;
    padding-top: 1.5em;
  }
}

@mixin preloader {
  padding-top: 2em;

  .loader {
    left: calc(50% - 24px);
    position: relative;
  }

  .back {
    padding-top: 2em;
  }
}

/* Throw your phone flying page */

.flyer {
  max-width: $max-width;
  text-align: center;

  .connection-active {
    display: none;
  }

  .phone-reading-panels {
    position: relative;
    min-height: 175px;
    overflow: hidden;

    .guage-widget {
      transform: scale(0.66);
      position: absolute;
      left: calc(25% - 90px);
      z-index: -1;

      .caption {
        padding: 20px;
        font-weight: bold;
        font-size: 110%;
      }
    }

    .phone {
      transform: scale(0.66);
      position: absolute;
      position: absolute;
      left: calc(75% - 115px);
      top: -30px;

      #tridiv {
        width: 350px;
        height: 350px;
        font-size: 37.5%;
        margin: 0;
        position: absolute;
      }
    }
  }

  .uplink-status {
    font-size: 80%;
    margin-bottom: 1em;
  }

  .connecting-loader {
    @include preloader;
  }

  .leaderboard {
    display: none;
  }

  .message {
    margin: 0 0 1em 0;
    font-size: 90%;
    p {
      margin: 0.5em 0;
    }
  }
}

/* Track another phone page */

.tracker {
  text-align: center;
  width: $max-width;
  margin: 0 auto;

  .graph-and-phone {
    overflow: hidden;
    display: none;

    #tracker-graph {
      background-color: #EEE;
      border: 1px solid #AAA;
      float: left;
      margin: 25px 0;
      border-radius: 8px;
      padding: 5px;

      canvas {
        background-color: #EEE;
        width: 570px;
        height: 290px;
      }
    }

    #tridiv {
      float: right;
      position: relative;
      width: 350px;
      height: 350px;
      font-size: 37.5%;
    }
  }

  @media screen and (max-width: $tablet-width) {
    width: initial;
    .graph-and-phone {
      #tracker-graph {
        float: none;
        canvas {
          width: 100%;
          height: 250px;
        }
      }
      #tridiv {
        float: none;
        margin: 0 auto;
        clear: left;
      }
    }
  }

  @media screen and (max-width: $mobile-width) {
    .graph-and-phone {
      padding-bottom: 200px;
      position: relative;
      #tracker-graph {
        float: none;
        canvas {
          width: 100%;
          height: 160px;
        }
      }
      #tridiv {
        width: 100%;
        height: 350px;
        font-size: 37.5%;
        transform: scale(0.6, 0.6);
        margin: -86px auto 0 auto;
        position: absolute;
      }
    }
  }

  .lock-unlock {
    clear: both;
  }

  .connecting-loader {
    @include preloader;
  }
}
